.loading {
    font-size: 3.5em;
}

table, th, td {
    border: 3px solid black;
    background: rgb(195, 189, 189);
}
table {
    border-collapse: collapse;
}

th {
    border: 3px solid black;
    background: rgb(161, 158, 158);
}

th, td {
    margin: 0;
    padding: 0;
    width: 180px;
    text-align: center;    
    color: #313239;
    font-size: 1.5em;
}